body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  background-color: #ddd;
}

* {
  /* font-size: 1.1em; */
  box-sizing: border-box;
}

tbody tr > td {
  opacity: 1;
  transition: 250ms opacity ease;
  cursor: pointer;
}

td,
th {
  text-align: center !important;
}

tr {
  display: flex;
  flex-direction: row;
}

tbody tr > td:first-child {
  border-left-color: #eb1;
  border-left-width: 0px;
  border-left-style: solid;
  transition: 250ms border-left-width ease;
}

tbody tr.faded > td {
  opacity: 0.33;
}

tbody tr:hover > td {
  background-color: #fc1;
  font-weight: bold;
}

tbody tr.focused > td {
  background-color: #eb1;
  font-weight: bold;
}

tbody tr.highlighted > td:first-child {
  border-left-width: 8px;
}

.stats-item {
  padding: 4px;
  margin-bottom: 4px;
}

.nav-item {
  font-family: monospace;
  cursor: pointer;
  font-size: 1em;
  transition: 250ms font-size ease;
}

.nav-item.active {
  font-weight: bold;
  font-size: 1.3em;
}

.nav-item:hover {
  font-size: 1.2em;
}
