body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 16px;
}

*::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 16px;
}

tbody tr > td {
  opacity: 1;
  cursor: pointer;
}

td,
th {
  text-align: center !important;
}

tr {
  display: flex;
  flex-direction: row;
  transition: 150ms background-color ease;
}

.loginInput > div:before {
  border-bottom-color: #666;
}
