

.Grid
  background-color: #eee
  height: calc(100vh)


.Backdrop
  width: calc(30vw)
  height: calc(30vh)
  position: absolute
  background-color: #fc1
  box-shadow: 0 0 4px #333
  z-index: 1
  visibility: hidden

.Modal
  padding-bottom: 0px
  z-index: 2
  position: absolute
  top: 30%
  background-color: #fff
  box-shadow: 0 0 2px #aaa
  border: 1px solid #aaa

.Subheader
  width: 350px
  height: 72px
  background-color: #fc1
  padding: 24px
  border-bottom: 0px solid #aaa

.Submit
  margin: 12px 0!important

.Form
  width: 350px
  padding: 24px 32px
  padding-top: 8px


.Recovery
  text-align: center
  cursor: pointer
    
